<html xmlns:th="http://www.thymeleaf.org" 
th:replace="~{layout::layout(~{::title}, ~{}, ~{::#content})}">
<head>
	<title>Teacher Info</title>
	<link rel="stylesheet" type="text/css" href="/index.css">
</head>
<body>
	<div id="content">
		<h1 th:text="|${teacher.name} 선생님 정보|">Null</h1>
		<h3 th:text="|소개 : ${teacher.description}|"></h3>
		<table>
			<tr><th>이름</th><th>소개</th></tr>
		<tr th:each="item : ${lectures}">
			<td th:text="*{item.title}"></td>
			<td th:text="*{item.descriptiton}"></td>
		</tr>
		</table>
	</div>
</body>
</html>